<body>
    <h1 class="wysrodkowany"> Witaj na stronie</h1>
    <h2 class="wysrodkowany"> Dostępne bronie:</h2>

    <div class="obok">

        <div class="lewo">
            <h3>Dostępne karabiny:</h3>
            <ul>
                {% for karabin in lista_karabinow %}
                    <li>{{ karabin }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="srodek">
            <h3>Dostępne pistolety:</h3>
            <ul>
                {% for pistolet in lista_pistoletow %}
                    <li>{{ pistolet }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="prawo">
            <h3>Dostępne snajperki:</h3>
            <ul>
                {% for snajperka in lista_snajperek %}
                    <li>{{ snajperka }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
</body>